body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
        background-image: url('/fotos/siu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header {
    background-color: rgba(0, 0, 0, 0.6 );
    color: white;
    text-align: center;
    padding: 10px;
}

.Principal {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.Principal div {
    flex-basis: 30%;
    padding: 20px;
    background-color: rgba(201, 201, 201, 0.7 );
    color: black;
    border-radius: 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
}

.Principal div:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20%;
    width: 300px;
    height: 300px;
    border-color: black;
}

a {
    text-decoration: none;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Cambia el color del texto si es necesario */
    text-align: center;
    font-size: 24px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer .iconos-sociales {
    margin-top: 10px;
}

footer .iconos-sociales a {
    margin: 0 10px;
    display: inline-block;
}

footer .iconos-sociales img {
    width: 40px;
    height: 40px;
    filter: invert(100%);
    transition: transform 0.3s ease, filter 0.3s ease;
}

footer .iconos-sociales img:hover {
    transform: scale(1.1);
    filter: invert(75%);
}

/* Estilos para el texto del footer */
footer h3 {
    margin: 0;
}

footer img {
    vertical-align: middle;
} 