body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/fotos/gymbros.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



#text1 {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3 );
}

#texto {
    color: white;
    text-align: left;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.9 );
}

#header {
            background-color: rgba(0, 0, 0, 0.9);
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: rgba(58, 58, 58, 0.8 );
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            color: white;
        }
        h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 20px;
        }
        ul {
            margin-bottom: 20px;
        }
        li {
            list-style: none;
            margin-bottom: 5px;
        }
        footer {
            background-color: rgba(147, 147, 147, 1.0);
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        footer {
            background-color: #000;
            color: #fff;
            padding: 10px 0;
            text-align: center;
            position: relative;
            bottom: 0;
            width: 100%;
        }
        footer .iconos-sociales {
            margin-top: 10px;
        }
        
        footer .iconos-sociales a {
            margin: 0 10px;
            display: inline-block;
        }
        
        footer .iconos-sociales img {
            width: 40px;
            height: 40px;
            filter: invert(100%);
            transition: transform 0.3s ease, filter 0.3s ease;
        }
        
        footer .iconos-sociales img:hover {
            transform: scale(1.1);
            filter: invert(75%);
        }
        
        /* Estilos para el texto del footer */
        footer h3 {
            margin: 0;
        }
        
        footer img {
            vertical-align: middle;
        } 
        
