body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/fotos/samsulek.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header {
    background-color: rgba(0, 0, 0, 0.7 );
    color: white;
    text-align: center;
    padding: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    padding: 20px;
    background-color: #ffffff00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item {
    background-color: #fff;
    border: 5px solid yellow;
    border-radius: 15%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.item img {
    max-width: 100%;
    height: 225px;
}

.item h3 {
    color: black;
    margin: 10px 0;
    font-size: 0.9em;
}

.item p {
    color: #666;
    font-size: 0.9em;
}

.item:active {
    transform: scale(1.05);
}

main {
    max-width: 1250px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(58, 58, 58, 0.8 );
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer .iconos-sociales {
    margin-top: 10px;
}

footer .iconos-sociales a {
    margin: 0 10px;
    display: inline-block;
}

footer .iconos-sociales img {
    width: 40px;
    height: 40px;
    filter: invert(100%);
    transition: transform 0.3s ease, filter 0.3s ease;
}

footer .iconos-sociales img:hover {
    transform: scale(1.1);
    filter: invert(75%);
}

footer h3 {
    margin: 0;
}

footer img {
    vertical-align: middle;
} 
